* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Play";
  --title-font: "Press Start 2P";
}

main {
  background-color: black;
  color: #ffe605;
  font-family: var(--main-font);
}

h1 {
  font-family: var(--title-font);
}

.wilder-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px;
  color: white;
}

.wilder-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2958bb;
  padding: 24px 32px;
  border-radius: 16px;
}

.wilder-card-header h3 {
  margin-top: -11px;
}

.wilder-card-header img {
  width: 32px;
  height: 32px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.age h3 {
  font-size: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px #759bee;
  border-radius: 16px;
  background-color: #2958bb;
}

.img-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card img {
  width: 200px;
  height: auto;
}


.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 32px;
  background-color: #254fa8;
  border-radius: 12px;
}

.stats-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.level {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

progress {
  width: 60px;
}
